@import "variables"

.App
  text-align: center
  background-image: radial-gradient(ellipse closest-side at 50% 50%, #3a3f45, #37383c 25%, #343233)
  height: 100vh
  width: 100vw

.page
  color: $third_color
  padding: 25px
  display: grid

